*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: coral;

}
#box1{
    width:200px;
    height:200px;
    background-color: crimson;
    border: 1px solid black;

}
#box2{
    width:200px;
    height:200px;
    background-color:cornflowerblue;
    border: 1px solid black;
    margin-top: 2rem;

}